# Import numpy and load the csv file into DataFrame format

In [ ]:
# import pandas as pd
import numpy as np

In [8]:
sal=pd.read_csv("Salaries.csv\Salaries.csv",low_memory=False)

In [39]:
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

# Know the datatypes of columns

In [11]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

# What is the average base pay?

In [21]:

sal.BasePay

0            167411.18
1            155966.02
2            212739.13
3              77916.0
4             134401.6
              ...
148649            0.00
148650    Not Provided
148651    Not Provided
148652    Not Provided
148653            0.00
Name: BasePay, Length: 148654, dtype: object

# Eliminating rows that contain 'Not provided' as basepay values

In [80]:
sal2=sal[sal['BasePay']!='Not Provided']

In [81]:
#DATA CLEANSING
result1=pd.to_numeric(sal2['BasePay'])

In [82]:
result1.mean()

66325.44884050643

# What is the highest amount of overtime pay in the dataset?

In [83]:
#What is the highest amount of overtime pay in the dataset?
sal['OvertimePay'].max()

'Not Provided'

In [84]:
#DATA CLEANSING
result2=pd.to_numeric(sal2['OvertimePay'])
result2.max()

245131.88

# What is the job title of the employee JOSEPH DRISCOLL?

In [85]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL'].JobTitle

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

# What is the name of the highest paid employee including benefits?

In [86]:

highest=sal['TotalPayBenefits'].max()

In [87]:
sal[sal['TotalPayBenefits']==highest].EmployeeName

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

# What is the average BasePay of all employees per year? (2011,2012...)

In [92]:
#Chceking the type of BasePay column and converting to float type
#Using sal2 because sal2 has eliminated all the 'Not provided' rows
type(sal2['BasePay'][0])

numpy.float64

In [93]:
sal2['BasePay']=pd.to_numeric(sal2['BasePay'])

<ipython-input-93-8983d3d28cac>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sal2['BasePay']=pd.to_numeric(sal2['BasePay'])

In [94]:
type(sal2['BasePay'][0])

numpy.float64

In [95]:
sal2.groupby('Year').BasePay.mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

# How many unique job titles are there?

In [96]:
sal['JobTitle'].nunique()

2159

# What are the top 5 most common jobs?

In [100]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

# How many JobTitles were represented by only one person in 2013?(ie, Job titles with only one occurance in 2013?)

In [105]:
sal[sal['Year']==2013]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,total
72925,72926,Gregory P Suhr,Chief of Police,319275.01,0.0,20007.06,86533.21,339282.07,425815.28,2013,NaN,San Francisco,NaN,765097.35
72926,72927,Joanne M Hayes-White,"Chief, Fire Department",313686.01,0.0,23236.0,85431.39,336922.01,422353.40,2013,NaN,San Francisco,NaN,759275.41
72927,72928,Samson Lai,"Battalion Chief, Fire Suppress",186236.42,131217.63,29648.27,57064.95,347102.32,404167.27,2013,NaN,San Francisco,NaN,751269.59
72928,72929,Ellen G Moffatt,Asst Med Examiner,272855.51,23727.91,38954.54,66198.92,335537.96,401736.88,2013,NaN,San Francisco,NaN,737274.84
72929,72930,Robert L Shaw,"Dep Dir for Investments, Ret",315572.01,0.0,0.0,82849.66,315572.01,398421.67,2013,NaN,San Francisco,NaN,713993.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110526,110527,Arthur L Curry,PS Aide Health Services,NaN,0.0,10.67,0.0,10.67,10.67,2013,NaN,San Francisco,NaN,21.34
110527,110528,Nereida Vega,Senior Clerk,NaN,0.0,5.56,0.0,5.56,5.56,2013,NaN,San Francisco,NaN,11.12
110528,110529,Timothy E Gibson,Police Officer 3,NaN,0.0,0.0,-2.73,0.00,-2.73,2013,NaN,San Francisco,NaN,-2.73
110529,110530,Mark E Laherty,Police Officer 3,NaN,0.0,0.0,-8.2,0.00,-8.20,2013,NaN,San Francisco,NaN,-8.20
110530,110531,David P Kucia,Police Officer 3,NaN,0.0,0.0,-33.89,0.00,-33.89,2013,NaN,San Francisco,NaN,-33.89

In [131]:
sal[sal['Year']==2013]['JobTitle'].value_counts()==1

Transit Operator                False
Special Nurse                   False
Registered Nurse                False
Public Svc Aide-Public Works    False
Custodian                       False
                                ...
Port Director                    True
Assistant Law Librarian          True
IS Operator-Journey              True
Mayor                            True
Payroll Supervisor               True
Name: JobTitle, Length: 1051, dtype: bool

# How many employees have the word "Chief" in their title?

In [153]:
def mychief(title):
    if "chief" in title.lower():
        return True
    else:
        return False
sum(sal['JobTitle'].apply(lambda x:mychief(x)))

627

# Is there a correlation between length of the JobTitle and Salary?

In [162]:
sal['title_length']=sal['JobTitle'].apply(len)

In [164]:
sal[['JobTitle','title_length','TotalPayBenefits']]

,JobTitle,title_length,TotalPayBenefits
0,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,46,567595.43
1,CAPTAIN III (POLICE DEPARTMENT),31,538909.28
2,CAPTAIN III (POLICE DEPARTMENT),31,335279.91
3,WIRE ROPE CABLE MAINTENANCE MECHANIC,36,332343.61
4,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",44,326373.19
...,...,...,...
148649,Custodian,9,0.00
148650,Not provided,12,0.00
148651,Not provided,12,0.00
148652,Not provided,12,0.00
148653,"Counselor, Log Cabin Ranch",26,-618.13

In [166]:
sal[['title_length','TotalPayBenefits']].corr()

                  title_length  TotalPayBenefits
title_length          1.000000         -0.036878
TotalPayBenefits     -0.036878          1.000000

In [167]:
#There is no correlation as the values in the counterdiagonal ie, -0.036878 is not close to 1 or -1.

In [168]:
#Chceking if there is a correlation between TotalPay and TotalPayBenefits
sal[['TotalPay','TotalPayBenefits']].corr()

                  TotalPay  TotalPayBenefits
TotalPay          1.000000          0.977313
TotalPayBenefits  0.977313          1.000000

In [ ]:
#Yes, there is a correlation.